.coveren{
	width:100%;
	margin-top:10px;
}

.remove-btn{
	margin-right: 20px;
}


.navor{
	margin-top: 20px;
}

.batata{
	margin-right: 20px;
}

.img_item{
	height: 300px;
	width: 300px;
}
.last_price{
	text-decoration: line-through !important;
	color:#696969;
}

.btn-link{
	text-decoration:none !important;
	color:#28a745;
	cursor: pointer;
}

.image_comment{
	height: 64px;
	width: 64px;
}
