.coveren{
	width:100%;
	margin-top:10px;
}

.remove-btn{
	margin-right: 20px;
}


.navor{
	margin-top: 20px;
}

.batata{
	margin-right: 20px;
}

.img_item{
	height: 300px;
	width: 300px;
}
.last_price{
	text-decoration: line-through !important;
	color:#696969;
}

.btn-link{
	text-decoration:none !important;
	color:#28a745;
	cursor: pointer;
}

.image_comment{
	height: 64px;
	width: 64px;
}

.sign_pic{
	max-width: 600px;
    height: 600px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}